.input__modal-title {
  width: 358px;
  margin-bottom: 29.74px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13.26px;
}

.input__modal-description {
  width: 358px;
  margin-bottom: 48px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13.26px;
}
@media screen and (max-width: 680px) {
  .input__modal-title {
    max-width: 238px;
  }
  .input__modal-description {
    max-width: 238px;
  }
}
